.content{
    min-height: 700px;
    background-color: gray !important;
}
.footer{
    min-height: 200px;
    background-color: yellowgreen;
    align-content: flex-end;
}
.wrapper {
    display: relative;
    margin-top: 2rem;
    /* align-content: center;
    align-self: center; */
  
  }
  
  .typing-demo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right:  solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    word-wrap: break-word;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
  }
  
  @keyframes typing {
    from { width: 0 }
  to { width: 100% }
}
  
      
  @keyframes blink {
    from, to { border-color: transparent }
    100% { border-color: orange; }
      
      
    }
  
  green-color {
    color:green;
   
  }