.content{
    min-height: 500px;
    background-color: gray !important;
}
.footer{
    min-height: 200px;
    background-color: yellowgreen;
    align-content: flex-end;
}
.wrapper {
    display: relative;
    margin-top: 2rem;
    /* align-content: center;
    align-self: center; */
  
  }
  
  .typing-demo {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right:  solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    word-wrap: break-word;
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
  }
  
  @keyframes typing {
    from { width: 0 }
  to { width: 100% }
}
  
      
  @keyframes blink {
    from, to { border-color: transparent }
    100% { border-color: orange; }
      
      
    }
  
  green-color {
    color:green;
   
  }
  .copyright{
    min-height: 50px;
    background-color:black;
    color: chocolate;
  }
  .page-header{
    text-transform: uppercase;
    text-decoration: underline;
    background-color: blueviolet;
    color: white !important;

  }
  .search-card {
    /* Replace 'red', 'green', and 'blue' with actual integer values */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Example shadow with red color */
}
.results-card{
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Example shadow with red color */
    min-height: 300px;
}
/* glowing card  */
.glowing-card {
    /* Replace 'red', 'green', and 'blue' with actual integer values */
    box-shadow: 0 0 10px rgba(115, 0, 255, 0.5); /* Example shadow with red color */
    animation: glow 1s ease-in-out infinite alternate;
}